/* Colors */
.primary-1 { background-color: #E7F6A4 }
.primary-2 { background-color: #BACD66 }
.primary-0 { background-color: #90A437 }
.primary-3 { background-color: #687B14 }
.primary-4 { background-color: #435200 }

.secondary-1-1 { background-color: #B8E297 }
.secondary-1-2 { background-color: #87BC5E }
.secondary-1-0 { background-color: #5E9732 }
.secondary-1-3 { background-color: #3C7113 }
.secondary-1-4 { background-color: #214B00 }

.secondary-2-1 { background-color: #E699AF }
.secondary-2-2 { background-color: #BF607B }
.secondary-2-0 { background-color: #993350 }
.secondary-2-3 { background-color: #73132E }
.secondary-2-4 { background-color: #4D0016 }

.complement-1 { background-color: #AA71A7 }
.complement-2 { background-color: #8D478A }
.complement-0 { background-color: #71266E }
.complement-3 { background-color: #550E52 }
.complement-4 { background-color: #390036 }


.modal-dialog {
    background-color: #90A437; /* primary-0 */
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #435200; /* primary-4 */
}

.modal-dialog-title {
    background-color: #BACD66; /* primary-2 */
    font-style: italic;
    text-align: center;
}

input[type="text"],
input[type="datetime-local"],
.uneditable-input {
    height: 25px;
    text-height: 25px;
    background: white;
    padding: 0px;
    margin: 0px;
}

.selection-list {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    line-height: 30px
}

.selection-list-head {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    background-color: #BACD66; /* primary-2 */
    font-weight: bold;
    line-height: 30px;
}

.selection-list-column {
    display: inline-block;
    margin: 0px 3px;    
}

.editable-date-input {
    width: 175px;
}

.selection-list-item a:hover {
    background-color: #687B14; /* primary-3 */
}

.selection-list .time {
    width: 175px;
}

.selection-list .name {
    width: 195px;
}

.selection-list .organizer {
    width: 140px;
}

.selection-list .operations {
    width: 50px;
}

.table-row-control {
    background-color: #E699AF; /* #5E9732; secondary-2-1 */
    color: white;
    line-height: 25px;
    text-align: center;
    width: 20px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.table-row-control:hover {
    background-color: #4D0016; /* secondary-2-4 */    
}
